@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: luxury --default;
}
@plugin "daisyui/theme" {
  name: "luxury";
  default: true;
  --color-primary: #b0b0b0;
  --color-secondary: #f0f5f5;
  --color-success: #00ffe0;
  --color-warning: #6c63ff;
  --color-error: #ff9900;
}
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
body,
html {
  overflow-x: hidden;
  background-color: #040404;
}
.audiowide {
  font-family: "Audiowide", sans-serif;
}
header {
  background: radial-gradient(circle at top left, #1a1a1a, #0d0d0d 70%);
}
.myBtn {
  @apply btn btn-success text-black border-3 w-24 border-success hover:bg-white rounded-md font-semibold transition-colors duration-300;
}
.wave::before,
.wave::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(0, 255, 224);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: sonar-wave 2s infinite;
}
.wave::after {
  animation-delay: 1s;
  border: 2px solid #6c63ff;
}
@keyframes sonar-wave {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
/* Slide-in animation */
/* Default: hidden and below position */
.left-content {
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.7s ease-in-out;
}
/* When active slide hits */
.left-content.slide-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* Custom pagination bullets */
.custom-pagination .swiper-pagination-bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  border-radius: 2px;
}

/* hover effect */
.custom-pagination .swiper-pagination-bullet:hover {
  background-color: #6c63ff;
  transform: skewX(-15deg) scale(1.1);
}

/* active bullet */
.custom-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #00ffe0;
  width: 24px;
}
.contentBoxClasses {
  @apply p-10 max-w-3xl bg-black/10 rounded-xl text-center backdrop-blur-sm;
}

/* embla carousel */
.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 55%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
@media (max-width: 767px) {
  /* sm screens */
  .embla__slide {
    flex: 0 0 100%; /* full width */
    margin-right: 0;
  }
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem rgb(0, 255, 224);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
  backface-visibility: hidden;
  color: rgb(54, 49, 61);
  transition: transform 0.3s ease;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  color: rgb(54, 49, 61);
}
.embla__button:disabled {
  color: rgb(192, 192, 192);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((1.5rem - 1rem) / 2 * -1);
  margin-top: 20px;
}
.embla__dot {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem rgb(234, 234, 234);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem rgb(0, 255, 224);
}
